.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.img_homepage {
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
}